*{
margin: 0;
padding: 0;
}

h1.titre {
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	color: white;
	}
	
td.produit { 
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	font-size: 20px;
	}
	
	
img.produit {
	width: 300px;
	}
	
img.logo {
	width: 90px;
	}

img.cookie {
	width: 90px;
	}
	
table.produit {
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
	background-color: white;
	}

div.logo {
	background-color: black;
	height: 90px;
	margin-right: 75%
	}

div.h1 {
	background-color: black;
	height: 90px;
	}

div.produit {
	margin :auto
	}
	
div.vide {
	height: 300px;
	margin: 20px;
	}


div.body {
	background-image: url("background.png");
	background-size: cover;
	background-repeat: no-repeat;
	}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	}

p { 
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	}

li {
	display: inline-block;
	}
	
div.resaux {
	height: 300px;
	margin: 20px;
	background-color: white;
	}

img.resaux {
	width: 50px;
	}

table.titre {
	margin :auto;
	}

table.resaux {
	margin-right :auto;
	margin-left :auto;
	margin-top: 20px
	}
	
p.resaux {
	font-weight: bold;
	border: 10px solid white;
	font-size: 20px;
	}
