*{
margin: 0;
padding: 0;
}

h1.titre {
	font-weight: bold;
	text-align: center;
	font-size: 70px;
	color: white;
	}
	
td { 
	text-align: center;
	font-weight: bold;
	border: 1px solid black;
	font-size: 20px;
	}
	
img {
	width: 300px;
	}
	
table {
	margin: auto;
	margin-top: 30px;
	border: 1px solid black;
	background-color: white;
	}

div.logo {
	background-color: black;
	height: 90px;
	margin-right: 75%
	}

div.h1 {
	background-color: black;
	height: 90px;
	margin-left: 25%;
	margin-right: 25%;
	}

div.produit {
	margin-left: 500px;
	margin-right:500px;
	}
	
div.vide {
	height: 300px;
	margin: 20px;
	}

body {
	background-image: url("background.png");
	background-size: cover;
	}

h1 {
	font-weight: bold;
	text-align: center;
	font-size: 50px;
	}

p { 
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	}

li {
	display: inline-block;
	}
